body {
  margin:0px;
  background-color:rgba(251, 251, 251, 1);
  background-image:none;
  position:static;
  left:auto;
  width:985px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:616px;
  height:627px;
}
#u4960 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:145px;
  width:616px;
  height:627px;
  display:flex;
}
#u4960 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4960_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
