body {
  margin:0px;
  background-color:rgba(251, 251, 251, 1);
  background-image:none;
  position:static;
  left:auto;
  width:307px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3783 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3784 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3785_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u3785 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:97px;
  width:68px;
  height:26px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u3785 .text {
  position:absolute;
  align-self:center;
  padding:4px 16px 4px 16px;
  box-sizing:border-box;
  width:100%;
}
#u3785_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3786 label {
  left:0px;
  width:100%;
}
#u3786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u3786 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:103px;
  width:23px;
  height:16px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3786 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u3786_img.selected {
}
#u3786.selected {
}
#u3786_img.disabled {
}
#u3786.disabled {
}
#u3786_img.selectedDisabled {
}
#u3786.selectedDisabled {
}
#u3786_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:7px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3786_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u3787 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3788 label {
  left:0px;
  width:100%;
}
#u3788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u3788 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:103px;
  width:23px;
  height:16px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u3788 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u3788_img.selected {
}
#u3788.selected {
}
#u3788_img.disabled {
}
#u3788.disabled {
}
#u3788_img.selectedDisabled {
}
#u3788.selectedDisabled {
}
#u3788_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:7px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3788_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u3789_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u3789 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:97px;
  width:68px;
  height:26px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u3789 .text {
  position:absolute;
  align-self:center;
  padding:4px 16px 4px 16px;
  box-sizing:border-box;
  width:100%;
}
#u3789_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3790 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3791 label {
  left:0px;
  width:100%;
}
#u3791_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u3791 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:103px;
  width:23px;
  height:16px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u3791 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u3791_img.selected {
}
#u3791.selected {
}
#u3791_img.disabled {
}
#u3791.disabled {
}
#u3791_img.selectedDisabled {
}
#u3791.selectedDisabled {
}
#u3791_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:7px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3791_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u3792_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#D8D8D8;
  line-height:18px;
}
#u3792 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:97px;
  width:68px;
  height:26px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#D8D8D8;
  line-height:18px;
}
#u3792 .text {
  position:absolute;
  align-self:center;
  padding:4px 16px 4px 16px;
  box-sizing:border-box;
  width:100%;
}
#u3792_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3793_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u3793 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:97px;
  width:44px;
  height:52px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u3793 .text {
  position:absolute;
  align-self:flex-start;
  padding:4px 8px 30px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3793_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
