body {
  margin:0px;
  background-color:rgba(251, 251, 251, 1);
  background-image:none;
  position:static;
  left:auto;
  width:534px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4016_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:22px;
  background:inherit;
  background-color:rgba(246, 247, 246, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u4016 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:101px;
  width:52px;
  height:22px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u4016 .text {
  position:absolute;
  align-self:center;
  padding:0px 8px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u4016_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4017 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4018_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
  background:inherit;
  background-color:rgba(246, 247, 246, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u4018 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:101px;
  width:68px;
  height:22px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u4018 .text {
  position:absolute;
  align-self:center;
  padding:0px 24px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u4018_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u4019 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:107px;
  width:7px;
  height:7px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4019 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4019_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4020_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:22px;
}
#u4020 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:138px;
  width:52px;
  height:22px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
  line-height:18px;
}
#u4020 .text {
  position:absolute;
  align-self:center;
  padding:0px 8px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u4020_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:22px;
}
#u4021 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:138px;
  width:52px;
  height:22px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
  line-height:18px;
}
#u4021 .text {
  position:absolute;
  align-self:center;
  padding:0px 8px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u4021_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:22px;
}
#u4022 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:138px;
  width:52px;
  height:22px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
  line-height:18px;
}
#u4022 .text {
  position:absolute;
  align-self:center;
  padding:0px 8px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u4022_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u4023 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:101px;
  width:65px;
  height:22px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u4023 .text {
  position:absolute;
  align-self:center;
  padding:0px 8px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u4023_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4024_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:22px;
}
#u4024 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:138px;
  width:52px;
  height:22px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
  line-height:18px;
}
#u4024 .text {
  position:absolute;
  align-self:center;
  padding:0px 8px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u4024_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4025_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:22px;
}
#u4025 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:138px;
  width:52px;
  height:22px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
  line-height:18px;
}
#u4025 .text {
  position:absolute;
  align-self:center;
  padding:0px 8px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u4025_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4026_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:22px;
}
#u4026 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:138px;
  width:52px;
  height:22px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
  line-height:18px;
}
#u4026 .text {
  position:absolute;
  align-self:center;
  padding:0px 8px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u4026_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4027_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:22px;
}
#u4027 {
  border-width:0px;
  position:absolute;
  left:481px;
  top:138px;
  width:52px;
  height:22px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
  line-height:18px;
}
#u4027 .text {
  position:absolute;
  align-self:center;
  padding:0px 8px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u4027_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
