body {
  margin:0px;
  background-color:rgba(251, 251, 251, 1);
  background-image:none;
  position:static;
  left:auto;
  width:918px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u9871 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9872_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:828px;
  height:2140px;
}
#u9872 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:818px;
  height:2130px;
  display:flex;
}
#u9872 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9872_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:818px;
  height:1987px;
}
#u9873 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:243px;
  width:818px;
  height:1987px;
  display:flex;
  font-family:'Helvetica Neue ', 'Helvetica Neue', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u9873 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9873_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9874 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9875_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2E3133;
}
#u9875 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:130px;
  width:100px;
  height:19px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2E3133;
}
#u9875 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9875_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9876_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u9876 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:125px;
  width:28px;
  height:28px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u9876 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9876_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9877_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AFAFAF;
}
#u9877 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:164px;
  width:60px;
  height:18px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AFAFAF;
}
#u9877 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9877_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:21px;
}
#u9878 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:162px;
  width:50px;
  height:21px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#2E3133;
}
#u9878 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9878_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9879_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AFAFAF;
  text-align:right;
}
#u9879 {
  border-width:0px;
  position:absolute;
  left:762px;
  top:130px;
  width:107px;
  height:18px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AFAFAF;
  text-align:right;
}
#u9879 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9879_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9880_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2E3133;
}
#u9880 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:195px;
  width:106px;
  height:19px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2E3133;
}
#u9880 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9880_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9881_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:1685px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9881 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:332px;
  width:680px;
  height:1685px;
  display:flex;
}
#u9881 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9881_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9882 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9883_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:818px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9883 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:243px;
  width:818px;
  height:89px;
  display:flex;
}
#u9883 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9883_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9884 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9885 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9886_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u9886 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:278px;
  width:32px;
  height:32px;
  display:flex;
  color:#CCCCCC;
}
#u9886 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9886_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9887_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:24px;
}
#u9887 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:282px;
  width:56px;
  height:24px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:24px;
}
#u9887 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9887_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9888 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9889_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:226px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9889 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:2017px;
  width:680px;
  height:226px;
  display:flex;
}
#u9889 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9889_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9890 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9891_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:656px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:24px;
}
#u9891 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:2048px;
  width:656px;
  height:48px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:24px;
}
#u9891 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9891_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9892 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9893_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u9893 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:2128px;
  width:32px;
  height:32px;
  display:flex;
  color:#CCCCCC;
}
#u9893 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9893_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9894 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:320px;
}
#u9895 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:332px;
  width:680px;
  height:320px;
  display:flex;
}
#u9895 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9895_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9896_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:320px;
  background:-webkit-linear-gradient(45deg, rgba(104, 32, 204, 1) 0%, rgba(104, 32, 204, 1) 0%, rgba(0, 197, 204, 1) 100%, rgba(0, 197, 204, 1) 100%);
  background:-moz-linear-gradient(45deg, rgba(104, 32, 204, 1) 0%, rgba(104, 32, 204, 1) 0%, rgba(0, 197, 204, 1) 100%, rgba(0, 197, 204, 1) 100%);
  background:linear-gradient(45deg, rgba(104, 32, 204, 1) 0%, rgba(104, 32, 204, 1) 0%, rgba(0, 197, 204, 1) 100%, rgba(0, 197, 204, 1) 100%);
  border:none;
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u9896 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:332px;
  width:680px;
  height:320px;
  display:flex;
  opacity:0.88;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u9896 .text {
  position:absolute;
  align-self:center;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u9896_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9897_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:38px;
  color:#FFFFFF;
  text-align:center;
  line-height:32px;
}
#u9897 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:396px;
  width:407px;
  height:32px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:38px;
  color:#FFFFFF;
  text-align:center;
  line-height:32px;
}
#u9897 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9897_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9898_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:23px;
}
#u9898 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:460px;
  width:512px;
  height:46px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:23px;
}
#u9898 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9898_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9899_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#108EE9;
}
#u9899 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:546px;
  width:160px;
  height:44px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#108EE9;
}
#u9899 .text {
  position:absolute;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u9899_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9900 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9901_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:455px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9901 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:1562px;
  width:680px;
  height:455px;
  display:flex;
}
#u9901 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9901_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9902_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:44px;
  background:inherit;
  background-color:rgba(16, 142, 233, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u9902 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:1728px;
  width:160px;
  height:44px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u9902 .text {
  position:absolute;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u9902_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9903 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9904 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9905_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:21px;
  color:rgba(0, 0, 0, 0.8);
  text-align:center;
  line-height:24px;
}
#u9905 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:1602px;
  width:84px;
  height:24px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:21px;
  color:rgba(0, 0, 0, 0.8);
  text-align:center;
  line-height:24px;
}
#u9905 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9905_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9906_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:592px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:center;
  line-height:23px;
}
#u9906 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:1642px;
  width:592px;
  height:46px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:center;
  line-height:23px;
}
#u9906 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9906_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9907 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9908_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u9908 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:1688px;
  width:32px;
  height:64px;
  display:flex;
  opacity:0;
  color:#FFFFFF;
}
#u9908 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9908_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9909_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u9909 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:1562px;
  width:32px;
  height:40px;
  display:flex;
  opacity:0;
  color:#FFFFFF;
}
#u9909 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9909_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9910 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9911_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(101, 101, 101, 0.8);
  line-height:18px;
}
#u9911 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:1933px;
  width:60px;
  height:18px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(101, 101, 101, 0.8);
  line-height:18px;
}
#u9911 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9911_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9912_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(101, 101, 101, 0.8);
  line-height:18px;
}
#u9912 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:1935px;
  width:72px;
  height:18px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(101, 101, 101, 0.8);
  line-height:18px;
}
#u9912 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9912_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u9913 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:1823px;
  width:100px;
  height:100px;
  display:flex;
}
#u9913 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9913_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9914_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u9914 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:1825px;
  width:100px;
  height:100px;
  display:flex;
}
#u9914 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9914_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9915 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9916_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:565px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9916 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:652px;
  width:680px;
  height:565px;
  display:flex;
}
#u9916 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9916_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9917 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9918 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9919_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:21px;
  color:rgba(0, 0, 0, 0.8);
  text-align:center;
  line-height:24px;
}
#u9919 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:692px;
  width:126px;
  height:24px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:21px;
  color:rgba(0, 0, 0, 0.8);
  text-align:center;
  line-height:24px;
}
#u9919 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9919_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9920_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:564px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:center;
  line-height:23px;
}
#u9920 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:732px;
  width:564px;
  height:46px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:center;
  line-height:23px;
}
#u9920 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9920_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9921 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9922_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u9922 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:778px;
  width:32px;
  height:64px;
  display:flex;
  opacity:0;
  color:#FFFFFF;
}
#u9922 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9922_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9923_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u9923 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:652px;
  width:32px;
  height:40px;
  display:flex;
  opacity:0;
  color:#FFFFFF;
}
#u9923 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9923_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9924 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9925_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:17px;
  color:rgba(0, 0, 0, 0.8);
  line-height:21px;
}
#u9925 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:852px;
  width:68px;
  height:21px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:17px;
  color:rgba(0, 0, 0, 0.8);
  line-height:21px;
}
#u9925 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9925_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9926_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:23px;
}
#u9926 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:890px;
  width:240px;
  height:115px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:23px;
}
#u9926 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9926_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9927 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9928_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:17px;
  color:rgba(0, 0, 0, 0.8);
  line-height:21px;
}
#u9928 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:852px;
  width:119px;
  height:21px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:17px;
  color:rgba(0, 0, 0, 0.8);
  line-height:21px;
}
#u9928 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9928_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9929_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:23px;
}
#u9929 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:890px;
  width:228px;
  height:92px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:23px;
}
#u9929 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9929_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9930 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9931_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:17px;
  color:rgba(0, 0, 0, 0.8);
  line-height:21px;
}
#u9931 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:1037px;
  width:119px;
  height:21px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:17px;
  color:rgba(0, 0, 0, 0.8);
  line-height:21px;
}
#u9931 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9931_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9932_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:23px;
}
#u9932 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:1075px;
  width:228px;
  height:92px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:23px;
}
#u9932 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9932_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9933 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9934_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:17px;
  color:rgba(0, 0, 0, 0.8);
  line-height:21px;
}
#u9934 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:1037px;
  width:68px;
  height:21px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:17px;
  color:rgba(0, 0, 0, 0.8);
  line-height:21px;
}
#u9934 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9934_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9935_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:23px;
}
#u9935 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:1075px;
  width:240px;
  height:92px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:23px;
}
#u9935 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9935_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9936_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:345px;
}
#u9936 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:1217px;
  width:680px;
  height:345px;
  display:flex;
}
#u9936 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9936_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
