body {
  margin:0px;
  background-color:rgba(251, 251, 251, 1);
  background-image:none;
  position:static;
  left:auto;
  width:138px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3514_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭黑简体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u3514 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:21px;
  width:120px;
  height:23px;
  display:flex;
  font-family:'方正兰亭黑简体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u3514 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3514_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3515_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭黑简体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u3515 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:52px;
  width:120px;
  height:23px;
  display:flex;
  font-family:'方正兰亭黑简体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u3515 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3515_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3516_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭黑简体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u3516 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:82px;
  width:120px;
  height:23px;
  display:flex;
  font-family:'方正兰亭黑简体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u3516 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3516_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3517_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭黑简体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u3517 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:113px;
  width:120px;
  height:23px;
  display:flex;
  font-family:'方正兰亭黑简体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u3517 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3517_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
