body {
  margin:0px;
  background-color:rgba(251, 251, 251, 1);
  background-image:none;
  position:static;
  left:auto;
  width:321px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8607_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭黑简体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u8607 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:97px;
  width:120px;
  height:23px;
  display:flex;
  font-family:'方正兰亭黑简体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u8607 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8607_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8608_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭黑简体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u8608 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:128px;
  width:120px;
  height:23px;
  display:flex;
  font-family:'方正兰亭黑简体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u8608 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8608_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8609_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭黑简体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u8609 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:158px;
  width:120px;
  height:23px;
  display:flex;
  font-family:'方正兰亭黑简体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u8609 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8609_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8610_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正兰亭黑简体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u8610 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:189px;
  width:120px;
  height:23px;
  display:flex;
  font-family:'方正兰亭黑简体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u8610 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8610_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8611_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:37px;
}
#u8611 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:37px;
  width:300px;
  height:37px;
  display:flex;
}
#u8611 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8611_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
