body {
  margin:0px;
  background-color:rgba(251, 251, 251, 1);
  background-image:none;
  position:static;
  left:auto;
  width:947px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4961_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:715px;
  height:906px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4961 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:106px;
  width:715px;
  height:906px;
  display:flex;
}
#u4961 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4961_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:789px;
  height:325px;
}
#u4962 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:387px;
  width:789px;
  height:325px;
  display:flex;
}
#u4962 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4962_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:824px;
}
#u4963 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:772px;
  width:465px;
  height:824px;
  display:flex;
}
#u4963 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4963_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
